/* style.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

.about {
    max-width: 800px;
    margin: 0 auto;
}

.text {
    position: relative;
}

.inline-image {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
}
